/*Basic CSS Style*/

html,
body {
    font-family: @font-family-prim;
    color: @color-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

img,
:hover,
:hover,
:focus,
a:hover,
a:focus {
    outline: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    &:focus,
    &:hover {}
}

#page-container {
    background: @color-white none;
}


/*Spacing's*/

@space-height: 400px;
@space-xl: 150px;
@space-lg: 75px;
@space-md: 60px;
@space-sm: 40px;
@space-xs: 20px;
.horizontal-space {
    margin-bottom: @space-sm;
}

.horizontal-space2 {
    margin-bottom: @space-lg - 60;
}

.side-spacing {
    padding: 0 @space-sm;
}

.min-spacing {
    margin-bottom: @space-xs;
}

.component-space,
.top-space {
    padding-top: @space-lg;
}

.bottom-space {
    padding-bottom: @space-sm;
}