/*Base Color Coding*/

@color-white: #fff;
@color-black: #000;
@color-gray-medium: #989898;
@color-gray-dark: #4D4D4D;
@color-gray-light: #949494;
@color-blue-dark: #2451A0;
@color-blue-medium: #3390AC;
@color-blue-medium-light: #3E6D89;
@color-blue-light: #4FA2D2;
@color-blue-light-dark: #1A4C67;
@color-blue-medium-dark: #3E6D85;
@color-green: #429C4A;
@color-green-medium-light: #40918C;
@color-green-medium-dark: #246B84;
@color-blue-light-medium-dark: #3979A4;
@color-orange: #ED6A39;
@color-yellow-dark: #FFA41C;
@color-yellow-light: #FFC556;
@color-lav: #5557A6;
.color-white {
    color: @color-white;
}

.color-black {
    color: @color-black;
}

.color-gray-m {
    color: @color-gray-medium;
}

.color-gray-d {
    color: @color-gray-dark;
}

.color-blue-d {
    color: @color-blue-dark;
}

.color-blue-m {
    color: @color-blue-medium;
}

.color-blue-m-d {
    color: @color-blue-medium-dark;
}

.color-blue-m-l {
    color: @color-blue-medium-light;
}

.color-blue-l-d {
    color: @color-blue-light-dark;
}

.color-blue-l {
    color: @color-blue-light;
}

.color-green {
    color: @color-green;
}

.color-green-m-l {
    color: @color-green-medium-light;
}

.color-green-m-d {
    color: @color-green-medium-dark;
}

.color-blue-l-m-d {
    color: @color-blue-light-medium-dark;
}

.color-orange {
    color: @color-orange;
}

.color-yellow-d {
    color: @color-yellow-dark;
}

.color-yellow-l {
    color: @color-yellow-light;
}

.color-lav {
    color: @color-lav;
}