/*************************
Button style Components
*************************/


/*Large Buttons*/

.link-btn {
    text-decoration: none;
    display: inline-block;
    color: @color-blue-medium;
    text-transform: uppercase;
    font-family: @font-family-prim;
    &.margin {
        margin: 10px;
    }
    &:hover {
        text-decoration: none;
        color: @color-green-medium-dark;
    }
    &:focus,
    &:active {
        text-decoration: none;
        color: @color-green-medium-dark;
    }
}

@media only screen and (min-width: 320px) {
    .link-btn {
        font-size: 17px;
        line-height: 21px;
    }
}

@media only screen and (min-width: 768px) {
    .link-btn {
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .link-btn {
        font-size: 17px;
        line-height: 21px;
    }
}