/*************************
Button style Components
*************************/


/*Large Buttons*/

.link-inline {
    text-decoration: none;
    display: inline-block;
    color: @color-blue-medium;
    text-transform: uppercase;
    font-family: @font-family-prim;
    font-size: 23px;
    letter-spacing: 0.075em;
    line-height: 20px;
    .link-type {
        display: inline-block;
        height: 21px;
        width: 21px;
        float: left;
        margin-right: 12px;
        background-size: 100%;
        &.video {
            background-image: url('../../../../images/icon_video.png');
        }
        &.document {
            background-image: url('../../../../images/icon_document.png');
        }
    }
    &::last-letter {
        color: red;
    }
    &.margin {
        margin: 10px;
    }
    &:hover {
        text-decoration: none;
        color: @color-green-medium-dark;
        .document {
            background-image: url('../../../../images/icon_document_hover.png');
        }
        .video {
            background-image: url('../../../../images/icon_video_hover.png');
        }
    }
    &:focus,
    &:active {
        text-decoration: none;
        color: @color-green-medium-dark;
    }
    span {
        &.go-icon {
            &:before {
                font-size: 18px;
                content: "\e080";
                display: inline-block;
                font-family: 'Glyphicons Halflings';
            }
        }
    }
}


/*Responsive changes*/


/*@media only screen and (min-width: 320px) {
    .link-btn {
        font-size: 23px;
        letter-spacing: 0.075em;
    }
}

@media only screen and (min-width: 768px) {
    .link-btn {
        font-size: 22px;
        line-height: 27px;
    }
}

@media only screen and (min-width: 992px) {
    .link-btn {
        font-size: 23px;
        line-height: 28px;
    }
}*/