/*************************
Button style Components
*************************/


/*Large Buttons*/

.btn-style {
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    color: @color-white;
    text-transform: uppercase;
    padding: 0px 15px;
    border-radius: 0;
    line-height: 48px;
    min-height: 50px;
    text-align: center;
    &.margin {
        margin: 5px;
    }
    img {
        display: inline;
    }
    &:hover {
        text-decoration: none;
        color: @color-white;
    }
    &:focus,
    &:active {
        color: @color-white;
    }
    &.btn-color-blue {
        background-color: @color-blue-medium-light;
        &:hover {
            background-color: @color-blue-light-dark;
        }
        &:active {
            background-color: @color-blue-light-dark;
        }
    }
    &.btn-color-blue-medium {
        background-color: @color-blue-medium;
        &:hover {
            background-color: @color-green-medium-dark;
        }
        &:active {
            background-color: @color-green-medium-dark;
        }
    }
    &.btn-color-blue-light {
        background-color: @color-blue-light;
        &:hover {
            background-color: @color-blue-light-medium-dark;
        }
        &:active {
            background-color: @color-blue-light-medium-dark;
        }
    }
}