/*************************************
icon row component
**************************************/

.icon-row {
    background-color: @color-blue-medium-dark;
    .icon-list {
        text-align: center;
        /*font-size: 0;*/
        display: flex;
        flex-wrap: wrap;
    }
    a {
        &:hover {
            opacity: 0.6;
            text-decoration: none;
        }
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
    li {
        img {
            display: inline-block;
            vertical-align: top;
            width: 70px;
            height: 70px;
            max-width: 100%;
        }
        margin: auto;
        float: none;
        display: flex;
        vertical-align: top;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        .heading-e {
            width: 80%;
            margin: 0 auto;
        }
    }
}


/* Responsive  changes*/

@media only screen and (min-width: 320px) {
    .icon-row {
        li{           
		&:not(:first-child){				
		 padding-top:40px;		
		}                         
        }
		
		.space-x-sm{
		padding-top:20px;
		}
    }
}

@media only screen and (min-width: 768px) {
 .icon-row {
        li{           
			&:not(:first-child){				
			 padding-top:0px;		
			}  
&:nth-child(3){
    padding-top:40px;
}
&:nth-child(4){
    padding-top:40px;
}			
				
        }
    }
	}

@media only screen and (min-width: 992px) {
 .icon-row {
        li{		
       padding-top:0;  
&:nth-child(3){
    padding-top:0;
}
&:nth-child(4){
    padding-top:0;
}	   
        }
    }
	}