/*************************
Master Header
*************************/

.container-fluid{
	padding-left: 0!important;
	padding-right: 0!important;
}

.master-header{
overflow:hidden;
width:auto;
position:relative;
left:0;
margin: 0 auto;
min-width:400px;
.space-rgt{
	margin-left:8px;
}
@media only screen and (min-width: 320px) {	
	height:700px;
	#HeaderVideo{
		display:none;
	}
	
	.heading-a{
		max-width:530px !important;	
		margin-bottom:@space-sm;
	}
	
	.link-btn	{	
	margin-bottom:@space-md;
	}
	
	.content-text{
		bottom:-700px;				
	}
	
	.overlay-image{
		height:700px;
	}
	
	.row {
		margin-left:16px;
	} 	
	
}

@media only screen and (min-width: 768px) {
	height:600px;	
	#HeaderVideo{
		display:block;
	}
	.heading-a{
			max-width:530px !important;	
			margin-bottom:@space-sm;
	}
	
	.link-btn	{
	
	margin-bottom:@space-lg;
	}
	
	.content-text{
		
		bottom:-600px;	
	}
	.overlay-image{
		height:600px;
	}
	.row {
		margin-left:22px;
	} 	
}

@media only screen and (min-width: 996px) {
	height:675px;	
		#HeaderVideo{
		display:block;
	}
	
	.heading-a{
		max-width:530px !important;	
		margin-bottom:@space-sm;		
	}
	.link-btn	{
	
	margin-bottom:@space-lg;
	}
	.content-text{
		bottom:-675px;
		
	}
	
	.overlay-image{
		height:675px;
	}
	.row {
		margin-left:24px;
	} 	
	
}
#HeaderVideo{

position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; 	
    transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	background: url('../../../../images/image_hd.jpg') no-repeat;
    background-size: cover;
   transition: 1s opacity;
   -ms-transition: 1s opacity;
   -webkit-transition: 1s opacity;
   -moz-transition: 1s opacity;
   overflow:hidden;
}

.heading-a{

}
.control-width{
	max-width:1200px !important;
	margin:0 auto ;
}
.content-text{
	position:absolute;	
	width:100%;
	min-width:335px;
}
.overlay-image{
		width:100%;
		background: url('../../../../images/image_hd.jpg') no-repeat;		
		background-size: cover;
	}


}