/*************************************
Typography Components
**************************************/


/*Font familys*/

@font-family-prim: 'Gotham A',
'Gotham B';
@font-family-sec: 'Bembo W01';
@font-family-sec-title: 'Bembo W01 Titling';
@font-family-sec-infant: 'Bembo W01 Infant';

/* Desktop */

@a-font-size-d: 45px;
@a-line-height-d: 51px;
@b-font-size-d: 45px;
@b-line-height-d: 51px;
@c-font-size-d: 42px;
@c-line-height-d: 54px;
@d-font-size-d: 20px;
@d-line-height-d: 24px;
@e-font-size-d: 16px;
@e-line-height-d: 20px;
@a-pg-font-size-d: 16px;
@a-pg-line-height-d: 20px;
@b-pg-font-size-d: 18px;
@b-pg-line-height-d: 30px;
@c-pg-font-size-d: 29px;
@c-pg-line-height-d: 41px;

/*Tablet*/

@a-font-size-t: 45px;
@a-line-height-t: 51px;
@b-font-size-t: 45px;
@b-line-height-t: 51px;
@c-font-size-t: 42px;
@c-line-height-t: 54px;
@d-font-size-t: 20px;
@d-line-height-t: 24px;
@e-font-size-t: 16px;
@e-line-height-t: 20px;
@a-pg-font-size-t: 16px;
@a-pg-line-height-t: 20px;
@b-pg-font-size-t: 18px;
@b-pg-line-height-t: 30px;
@c-pg-font-size-t: 29px;
@c-pg-line-height-t: 41px;

/*Mobile*/

@a-font-size-m: 45px;
@a-line-height-m: 51px;
@b-font-size-m: 45px;
@b-line-height-m: 51px;
@c-font-size-m: 42px;
@c-line-height-m: 54px;
@d-font-size-m: 20px;
@d-line-height-m: 24px;
@e-font-size-m: 17px;
@e-line-height-m: 21px;
@a-pg-font-size-m: 17px;
@a-pg-line-height-m: 21px;
@b-pg-font-size-m: 18px;
@b-pg-line-height-m: 30px;
@c-pg-font-size-m: 29px;
@c-pg-line-height-m: 41px;

/* Typography */

.prim-font {
    font-family: @font-family-prim;
}

.prim-bold {
    font-style: normal;
    font-weight: 700;
}

.prim-bold-italic {
    font-style: italic;
    font-weight: 700;
}

.prim-light {
    font-style: normal;
    font-weight: 300;
}

.prim-light-italic {
    font-style: italic;
    font-weight: 300;
}

.prim-book {
    font-style: normal;
    font-weight: 400;
}

.prim-book-italic {
    font-style: italic;
    font-weight: 400;
}

.prim-black {
    font-style: normal;
    font-weight: 800;
}

.prim-black-italic {
    font-style: italic;
    font-weight: 800;
}

.prim-thin {
    font-style: normal;
    font-weight: 100;
}

.prim-thin-italic {
    font-style: italic;
    font-weight: 100;
}

.sec-regular {
    font-style: normal;
    font-weight: 400;
}

@media only screen and (min-width: 320px) {
    .heading-a {
        font-family: @font-family-prim;
        font-size: @a-font-size-m;
        line-height: @a-line-height-m;
        color: @color-white;
    }
    .heading-b {
        font-family: @font-family-prim;
        font-size: @b-font-size-m;
        line-height: @b-line-height-m;
        color: @color-gray-medium;
    }
    .heading-c {
        font-family: @font-family-prim;
        font-size: @c-font-size-m;
        line-height: @c-line-height-m;
        color: @color-gray-dark;
    }
    .heading-d {
        font-family: @font-family-prim;
        font-size: @d-font-size-m;
        line-height: @d-line-height-m;
        color: @color-gray-dark;
    }
    .heading-e {
        font-family: @font-family-prim;
        font-size: @e-font-size-m;
        line-height: @e-line-height-m;
        color: @color-blue-medium-light;
    }
    .paragraph-a {
        font-family: @font-family-prim;
        font-size: @a-pg-font-size-m;
        line-height: @a-pg-line-height-m;
        color: @color-gray-dark;
    }
    .paragraph-b {
        font-family: @font-family-sec;
        font-size: @b-pg-font-size-m;
        line-height: @b-pg-line-height-m;
        color: @color-gray-dark;
    }
    .paragraph-c {
        font-family: @font-family-prim;
        font-size: @c-pg-font-size-m;
        line-height: @c-pg-line-height-m;
        color: @color-gray-light;
    }
}

@media only screen and (min-width: 768px) {
    .heading-e {
        font-family: @font-family-prim;
        font-size: @e-font-size-t;
        line-height: @e-line-height-t;
        color: @color-blue-medium-light;
    }
    .paragraph-a {
        font-size: @a-pg-font-size-t;
        line-height: @a-pg-line-height-t;
    }
}

@media only screen and (min-width: 992px) {}