<!--/*

    CTA Button Component.
    ----------------------------------------------------------------

    This base component needs to be created once and will be re-used (embedded) throughout the site. 
    
    Default Behavior:
    1. None.
    
    Required Fields:
    1. Button Caption or Label

*/-->

<!-- Sightly global objects declaration
============================================= -->

<sly data-sly-use.link="${'com.franklincovey.aem.sightly.providers.LinkURLTypeProvider' @ url = properties.url, color = properties.buttonColor}"/>

<!-- #sightly-global-objects-declaration end -->

<!-- Placeholder Content
============================================= -->
<img data-sly-test="${(wcmmode.edit || wcmmode.design) && !properties.caption}"
	data-emptytext="Author CTA Button Component Here"
	src="/libs/cq/ui/resources/0.gif" class="cq-placeholder"
	alt="CTA Button Component" />
<!-- #placeholder-content end -->

<!-- CTA Button Content
============================================= -->

<sly data-sly-test="${properties.caption}">
    <a href="${link.linkURL}" title="Solid button"
       target="${link.linkOpensInNewTab == true ? '_self' : '_blank'}"
       class="${link.cssClass}">${properties.caption}
    </a>
</sly>
<!-- CTA Button Content end
============================================= -->