<meta http-equiv="content-type" content="text/html; charset=UTF-8"
      data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
<!-- custom for pds -->
<css data-sly-call="${clientLib.css @ categories=['fcdc.bootstrap']}" data-sly-unwrap/>
<css data-sly-call="${clientLib.css @ categories=['fcdc.fonts']}" data-sly-unwrap/>
<css data-sly-call="${clientLib.css @ categories=['fcdc.base']}" data-sly-unwrap/>

<js data-sly-call="${clientLib.js @ categories=['fcdc.jquery']}" data-sly-unwrap/>
<js data-sly-call="${clientLib.js @ categories=['fcdc.bootstrap']}" data-sly-unwrap/>
