<!--/*

    CTA Link-Regular Component.
    ----------------------------------------------------------------

    This base component needs to be created once and will be re-used (embedded) throughout the site. 
    
    Default Behavior:
    1. None.
    
    Required Fields:
    1. Link Caption or Label

*/-->

<!-- Sightly global objects declaration
============================================= -->

<sly data-sly-use.link="${'com.franklincovey.aem.sightly.providers.LinkURLTypeProvider' @ url = properties.linkURL}"/>

<!-- #sightly-global-objects-declaration end -->

<!-- Placeholder Content
============================================= -->
<img data-sly-test="${(wcmmode.edit || wcmmode.design) && !properties.linkCaption}"
	data-emptytext="Author CTA Link-Regular Component Here"
	src="/libs/cq/ui/resources/0.gif" class="cq-placeholder"
	alt="CTA Link-Regular Component" />
<!-- #placeholder-content end -->

<!-- CTA Link-Regular Content
============================================= -->

<sly data-sly-test="${properties.linkCaption}">
    <a href="${link.linkURL}" title="link regular"
       target="${link.linkOpensInNewTab == true ? '_self' : '_blank'}"
       class="link-btn">${properties.linkCaption}
    </a>
</sly>
<!-- CTA Link-Regular Content end
============================================= -->