<!--/*

    Master Header Component.
    ----------------------------------------------------------------

    Home page main header component. Consists of background image or video, headline and CTA button.
    
    Default Behavior:
    1. None.
    
    Required Fields:
    1. background image

*/-->

<!-- Sightly global objects declaration
============================================= -->
<!-- #sightly-global-objects-declaration end -->

<!-- Placeholder Content
============================================= -->
<img data-sly-test="${(wcmmode.edit || wcmmode.design) && !properties.bgImageAltText}"
	data-emptytext="Author Master Header Component Here"
	src="/libs/cq/ui/resources/0.gif" class="cq-placeholder"
	alt="Master Header Component" />
<!-- #placeholder-content end -->

<!-- Master Header Content
============================================= -->
<div class="master-header">
    <!-- video-->
    <video id="HeaderVideo" poster="${properties.fileReference}" autoplay="" loop="" muted=""> <source src="${properties.backgroundVideoPath}" type="video/mp4">
    </video>
    <div class="row control-width" style="border:1px solid red">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="content-text">
                <h1 class="heading-a prim-bold">
                    <div data-sly-test="${properties.rteFlag}" data-sly-resource="${ @path='header1', resourceType='/apps/fcdc/components/util/header1'}">
                    </div>
                </h1>
                <div data-sly-test="${properties.ctaFlag}" data-sly-resource="${ @path='cta-link', resourceType='/apps/fcdc/components/content/ctalink-regular'}">
                </div>
            </div>
        </div>
    </div>   
    <div class="overlay-image">
        <img src="${properties.fileReference}">
    </div>
</div>	
<!-- Master Header Content end
============================================= -->